.body{
  width: 1600px;
}
.logo {
  color: blue;
  text-decoration: none;
  position: absolute;
  font-size: 26px;
  padding-left: 215px;
  padding-top: 24px;
  max-width: 145px;
  font-size: 26px;
}

.logo span {
  color: black;
}

.menu {
  padding-left: 453px;
  padding-top: 32px;
  font-size: 14px;

}

.menu li {
  display: inline-block;
}

.menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding-left: 50px;
}

.contact{
  position: absolute;
  padding-left: 900px;
  font-size: 14px;
}

.contact li{
  display: inline-block;
}

.contact a{
  color: black;
  display: block;
  text-decoration: none;
  padding-left: 50px;
} ?????


.home{
max-width: 1600px;
height: 600px;
background-color: grey;
}


.home h1{
text-align: center;
font-weight: 900;
font-size: 44px;
padding-top: 280px;
}

